a {
    text-decoration: none;
  }
  
.cadastro{
    display:inline-block;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 20px;
    max-width: 800px;
    height: 600px;
    margin-bottom: 5px;
    padding: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    
input{
    width: 200px;
    height: 30px;
    display: block;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    padding: 0px 50px 0px 20px;
   
    
}
input:hover{
    border-color:rgb(239, 180, 85) ;
}
div{
    position: absolute;
}
div i{
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    right: 20%;
    padding: 7px;
    color: #ccc;
}

button{
    cursor: pointer;
width: 278px;
height: 30px;
background-color: black;
border: none;
border-radius: 20px;
color: white;
position: relative;

}
button:hover{
    background-color: rgb(40, 40, 40);
}

.checkbox{
    position: absolute;
    height: 20px;
    margin-top: -40px;
    left: 45%;

}
p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    gap: 20px;
    width: 200px;
    height: 30px;
    position: relative;
}
span{
    color: rgb(126, 14, 126);;
    
}
h1{
    color:gray;
}

.esqueceu{
    display:inline-block;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 20px;
    max-width: 200px;
    height: 300px;
    margin-bottom: 5px;
    padding: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

#btn{
    cursor: pointer;
width: 200px;
max-width: 300px;
height: 30px;
background-color: black;
border: none;
border-radius: 20px;
color: white;
position: relative;
}

#btn:hover{
    background-color: rgb(48, 48, 48);
}

.emailEsqueceu{
   position: relative;
   width: 160px;
   max-width: 200px;
   margin-left: -18px;
   margin-bottom: 50px;
   
}
.title{
    font-size: 40px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    
}