a {
    text-decoration: none;
  }
  
.cadastro{
    display:inline-block;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 20px;
    max-width: 800px;
    height: 600px;
    margin-bottom: 5px;
    padding: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    
input{
    width: 300px;
    height: 30px;
    display: block;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
   
    
}
input:hover{
    border-color:rgb(239, 180, 85) ;
}
div{
    position: relative;
}
div i{
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    right: 5%;
    padding: 10px;
    color: #ccc;
}

button{
    cursor: pointer;
width: 300px;
height: 30px;
background-color: blue;
border: none;
border-radius: 20px;
color: white;
position: relative;

}
button:hover{
    background-color: rgb(47, 47, 164);
}

.checkbox{
    height: 20px;
    margin-top: -40px;
    left: 25%;
}
p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    gap: 20px;
    width: 200px;
    height: 30px;
    position: relative;
}
span{
    color: rgb(126, 14, 126);;
    
}
h1{
    color:gray;
}
