body{

    font-family: "Barlow", sans-serif;
    overflow-x: hidden;
    background-color: white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
a {
    text-decoration: none;
  }
  

.container{
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 0 30px;
}

.paginaLogin{
    
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: transparent;
    max-width: 500px;
    height: 600px;
    border-radius: 20px;
    border-style:inset;
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}
button{
    cursor: pointer;
    width: 300px;
    height: 40px;
    background-color: blue;
    border: none;
    border-radius: 20px;
    color: white;
}

input{
    width: 300px;
    height: 40px;
    margin-top: 40px;
    border-radius: 10px;
   
}

.googleImagem{
    margin-left: 10px;
}
.texto1{
    margin-left: 20px;
    margin-top: 5px;
    color: rgb(126, 14, 126);
    border-top: -20px;
}
.google{
    cursor: pointer;
    display: flex;
    background: rgba(158, 158, 158, 0.949);
    max-width: 300px;
    height: 40px;
    border-radius:8px;
}

.facebookImagem{
    margin-left: 10px;
}
.texto2{
    margin-left: 20px;
    margin-top: 5px;
    color: rgb(126, 14, 126);
    border-top: -20px;
}
.facebook{
    margin-top: 30px;
    cursor: pointer;
    display: flex;
    background: rgba(158, 158, 158, 0.949);
    max-width: 300px;
    height: 40px;
    border-radius:8px;
}


.esqueci{
    cursor: pointer;
    border-bottom: 20px;
    color: rgb(126, 14, 126);;
    margin-top: 20px;
}
.criarConta{
    cursor: pointer;
    border-bottom: 20px;
    margin-top: 10px;
    color: rgb(126, 14, 126);;
    

}