body{

    font-family: "Barlow", sans-serif;
    overflow-x: hidden;
    background-color: white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
a {
    text-decoration: none;
  }
  

.container{
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 0 30px;
}

.paginaLogin{
    border:1px solid gray;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: transparent;
    max-width: 500px;
    height: 600px;
    border-radius: 20px;
    border-style:inset;
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}
button{
    cursor: pointer;
    width: 300px;
    height: 40px;
    background-color: blue;
    border: none;
    border-radius: 20px;
    color: white;
}

input{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid gray;
   
}
input:hover{
    border-color:rgb(239, 180, 85) ;
}

.googleImagem{
    margin-left: 10px;
}
.facebookImagem{
    margin-left: 10px;
}

.texto1{
    margin-left: 10px;
    color: black;
    border-top: -20px;
}
.texto2{
    margin-left: 10px;
    color: black;
    border-top: -20px;
}
.google{
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    background: rgb(204, 204, 204);
    max-width: 300px;
    height: 40px;
    border-radius:8px;
    transition: 0.3s;
}
.facebook{
    margin-top: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    background:rgb(204, 204, 204);
    max-width: 300px;
    height: 40px;
    border-radius:8px;
    margin-bottom: 10px;
    transition: 0.3s;
}
.google:hover{
    background-color: rgb(239, 180, 85)
}
.facebook:hover{
    background-color: rgb(239, 180, 85)
}

.ouLogin{
    display: flex;
    justify-content: center; /* centraliza o texto horizontalmente */
    align-items: center; /* centraliza as linhas verticalmente */
    margin-bottom: 10px;
}
.ouLogin::before,
.ouLogin::after{
    content: '';
    position: relative;
    height: 2px; /* espessura das linhas */
    background: rgb(175, 175, 175); /* cor das linhas */
    min-width: 50px; /* largura mínima das linhas */
    width: 70px;
    margin: 20px;
}

.esqueci{
    cursor: pointer;
    border-bottom: 20px;
    color: rgb(126, 14, 126);;
    margin-top: 20px;
}
.criarConta{
    cursor: pointer;
    border-bottom: 20px;
    margin-top: 10px;
    color: rgb(126, 14, 126);;
    

}