
*{
    padding: 0;
    margin: 0;
}   
body{
    background-color: #eee;

    
}
.container{
  
    width: 100vw;
    height: 100vh;
    max-width: 1920px;
    height: auto;
    margin: 0 auto;  
}

.header{
    height: 100px;
     margin-bottom: 50px;
    padding: 25px;
}
.logo{
    height: 150px;
}
.pesquisa{
    position: relative;
    align-items: center;
    justify-content: space-between;
    background-color: #F2F2F2;
    text-align: center;
    top: -60px;
    left: 50px;
    border: none;
    height: 30px;
    border-radius: 20px;
    max-width: 300px;
    width: 500px;

}
.lupa{
    position: absolute;
    top: 100px;

}
.promocao{
    height: 40px;
}

.btn1{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 20px;
    height: 30;
    max-width: 100px;
    width:200px ;

}
.btn1:hover{
    background-color:rgb(44, 44, 139)
}
.btn2{
background-color:green;
color: white;
border: none;
border-radius: 20px;
    height: 30;
    max-width: 100px;
    width:200px ;
    cursor: pointer;

}
.btn2:hover{
    background-color: rgb(25, 220, 25);
}
.botoes{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: -90px;
    gap: 15px;
    margin-right: 100px;
    border-bottom: 1px solid #EBEBEB;
}
.carrinho{
    height: 40px;
}
.coracao1{
    height: 20px;
}

.videoMulher{
    position: absolute;
    display: flex;
    align-items: center;
    width: 200%;
}
.sobre{
    margin-bottom: 1px solid #EBEBEB;
}
.casinha{
    height: 30px;
}

.vestido{
    margin-left: 40px;
    margin-top: 90px;
    display: flex;
    height: 400px;
}
.vestido:hover{
    background-color:purple;
    cursor: pointer;

}
.preçoVestido{
    margin-left: 40px;
    margin-top: 20px;
    display: flex;
    color: saddlebrown;
}
.preçoAntigo{
    margin-left: 40px;
    display: flex;
    color: rgba(49, 49, 49, 0.136);
    text-decoration: line-through;
}
.adicionar{
    position: absolute;
    margin-left: 130px;
    margin-top: -40px;
    background-color: black;
    color: white;
    border: none;
    height: 30px;
    border-radius: 10px;
    font-size: small;
}
.coracao{
    position: relative;
    height: 20px;
    margin-left: 270px;
    top: -35px;
}
    h2{
        margin-bottom: 10px;
    }
.zap{
   
    height: 50px;
    padding: 0px 25px;

}
.face{
    height: 50px;
    padding: 0px 25px;

}
.youtube{
    height: 50px;
    padding: 0px 25px;
}
.insta{
    height: 50px;
    padding: 0px 25px;

}
.seta{
    margin-left: 300px;
    margin-top: -300px;
    cursor: pointer;
}

.video{
    width: 100vw;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

header{
    height: 200px;
    cursor: pointer;
    transition: .5s;
    width: 100vw;
}

header:hover{
    background-color: white;
    height: 100px;
    transition: .5s;
}

footer {
    background-color: black;
    color: #fff;
    border-top:  3px solid black;
    text-align: center;
    padding: 50px;
    align-items: center;
    justify-content: center;
}
