
*{
    padding: 0;
    margin: 0;
}   
body{
    background-color: #eee;

    
}
.container{
  
    width: 100vw;
    height: 100vh;
    max-width: 1920px;
    height: auto;
    margin: 0 auto;  
}

.header{
    height: 100px;
    padding: 30px;
    transition: .5s;
}

.header:hover{
    background-color: white;
    height: 100px;
    transition: .5s;

}

.logo{
    height: 150px;
}
.pesquisa{
    position: relative;
    align-items: center;
    justify-content: space-between;
    background-color: #F2F2F2;
    text-align: center;
    left: 200px;
    top: -90px;
    border: none;
    height: 30px;
    border-radius: 20px;
    width: 300px;

}
.lupa{
    display: flex;
    position:absolute;
    top: 100px;
    left: 25vw;
    
}
.promocao{
    height: 40px;
}

.btn1{
    background-color: gray;
    color: black;
    cursor: pointer;
    padding: 6px;
    border: none;
    border-radius: 20px;
    height: 30;
    max-width: 100px;
    width:200px ;
    transition: 0.35s ease;

}
.btn1:hover{
    background-color:black;
    color: white;

}
.btn2{
background-color:#394034;
color: white;
border: none;
padding: 6px;
border-radius: 20px;
    height: 30;
    max-width: 100px;
    width:200px ;
    cursor: pointer;
    transition: 0.35s ease;

}
.btn2:hover{
background-color:black;

}
.botoes{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: -120px;
    gap: 15px;
    margin-right: 100px;
}
.carrinho{
    height: 40px;
}
.coracao1{
    height: 20px;
}

.videoMulher{
    position: absolute;
    display: flex;
    align-items: center;
    width: 200%;
}
.sobre{
    margin-bottom: 1px solid #EBEBEB;
}
.casinha{
    height: 30px;
}

.vestido{
    margin-left: 40px;
    margin-top: 90px;
    display: flex;
    height: 400px;
}
.preçoVestido{
    margin-left: 40px;
    margin-top: 20px;
    display: flex;
    color: saddlebrown;
}
.preçoAntigo{
    margin-left: 40px;
    display: flex;
    color: rgba(49, 49, 49, 0.136);
    text-decoration: line-through;
}
.adicionar{
    position: absolute;
    margin-left: 130px;
    margin-top: -40px;
    background-color: black;
    color: white;
    border: none;
    height: 30px;
    border-radius: 10px;
    font-size: small;
}
.coracao{
    position: relative;
    height: 20px;
    margin-left: 270px;
    top: -35px;
}
    h2{
        margin-bottom: 10px;
    }
.zap{
   
    height: 50px;
    padding: 0px 25px;

}
.face{
    height: 50px;
    padding: 0px 25px;

}
.youtube{
    height: 50px;
    padding: 0px 25px;
}
.insta{
    height: 50px;
    padding: 0px 25px;

}
.seta{
    margin-left: 300px;
    margin-top: -300px;
    cursor: pointer;
}

.video{
    width: 100vw;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

footer {
    background-color: black;
    color: #fff;
    border-top:  3px solid black;
    text-align: center;
    padding: 50px;
    align-items: center;
    justify-content: center;
}


@media(max-width: 1200px){
    .botoes{
        display: none;
    }
    .pesquisa{
        display: none;
    }
    .lupa{
        display: none;
    }
    .toggleContainer{
        position: absolute;
        right: 50px;
        top: 60px;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .toggle{
        width: 30px;
        height: 3px;
        background-color: #EBEBEB;
        border-radius: 12px;
        position: relative;
        transition: .3s;
    }
    .toggle::after{
        content: "";
        width: 30px;
        height: 3px;
        background-color: #EBEBEB;
        border-radius: 12px;
        position: absolute;
        top: 8px;
        transition: .3s;
    }
    .toggle::before{
        content: "";
        width: 30px;
        height: 3px;
        background-color: #EBEBEB;
        border-radius: 12px;
        position: absolute;
        bottom: 8px;
        transition: .3s;
    }
    .toggle.active{
        width: 30px;
        height: 3px;
        background-color: #EBEBEB;
        border-radius: 12px;
        position: relative;
        transform: rotateZ(45deg);
        transition: .3s;
    }
    .toggle.active::after{
        content: "";
        width: 30px;
        height: 3px;
        background-color: #EBEBEB;
        border-radius: 12px;
        position: absolute;
        top: 0;
        transform: rotateZ(90deg);
        transition: .3s;
    }
    .toggle.active::before{
        content: "";
        width: 30px;
        height: 3px;
        background-color: #EBEBEB;
        border-radius: 12px;
        position: absolute;
        transform: rotateZ(90deg);
        bottom: 0;
        transition: .3s;
    }
    .toggle.black{
        background-color: black;
    }
    .toggle.black::after{
        background-color: black;
    }
    .toggle.black::before{
        background-color: black;
    }
}